<!-- Breadcrumb -->
<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
    <h5 class="mb-0">
        Customers
    </h5>
    <ol class="breadcrumb list-unstyled mt-0 mb-0 pl-0">
        <li class="breadcrumb-item position-relative">
            <a routerLink="/" class="d-inline-block position-relative">
                <i class="ri-home-8-line"></i>
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item position-relative">
            E-Commerce
        </li>
        <li class="breadcrumb-item position-relative">
            Customers
        </li>
    </ol>
</div>

<!-- Customers -->
<mat-card
    class="daxa-card customers-card mb-25 border-radius bg-white border-none d-block"
    [class.rtl-enabled]="themeService.isRTLEnabled()"
>
    <mat-card-header>
        <mat-card-title>
            <form class="search-box position-relative">
                <i class="material-symbols-outlined">
                    search
                </i>
                <input type="text" class="input-search d-block w-100 border-none outline-0" placeholder="Search customer..." (keyup)="applyFilter($event)" #input>
            </form>
        </mat-card-title>
        <mat-card-subtitle>
            <button type="button" mat-button class="card-header-menu-btn" [matMenuTriggerFor]="cardHeaderMenu">
                moins précedent
            </button>
            <mat-menu #cardHeaderMenu="matMenu" class="card-header-menu" xPosition="before">
                <button mat-menu-item>
                    journeé precedent
                </button>
                <button mat-menu-item>
                    semaine précedente
                </button>
               
              
            </mat-menu>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="customers-table">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                       <tr class="table-primary">
                      
                        <th scope="col">nom client</th>
                        <th scope="col">email</th>
                        <th scope="col">téléphone</th>
                        <th scope="col">Adresse</th>
                        <th scope="col">ville</th>
                        <th scope="col">Action<th>


                      </tr>
                    </thead>

                    <tbody>
                        <tr>
                        <tr *ngFor="let client of listClients; let i = index;">
                            <td><img src="{{ client.photo }}" alt="Photo de {{ client.nom }} {{ client.prenom }}"></td>
                            <td >{{ client.mail }}</td>
                            <td >{{ client.numTel }}</td>
                            <td >{{ client.adresse?.adresse1}}</td>
                            <td >{{ client.adresse?.ville}}</td>
                        </tr>
                      </tbody>
                 
                      <style>
                        body {
                            font-family: Arial, sans-serif;
                        }
                        .table {
                            width: 100%;
                            border-collapse: collapse;
                        }
                        th, td {
                            text-align: left;
                            padding: 25px; /* Increased padding for larger row height */
                            border: 1px solid #ece9e9;
                        }
                     
                        .table-responsive {
                            overflow-x: auto;
                        }
                    </style>
                </table>
            </div>
            <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
        </div>
    </mat-card-content>
</mat-card>