<div class="logout-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div
                class="daxa-form ml-auto mr-auto border-radius bg-white"
                [class.card-borderd-theme]="themeService.isCardBorder()"
                [class.component-dark-theme]="themeService.isDark()"
            >
                <div class="title text-center">
                    <h3>
                        Bienvenue TTstock
                    </h3>
                    <p class="ml-auto mr-auto">
                        merci d'utiliser TTstock
                    </p>
                </div>
                <div class="admin text-center">
                    <div class="logo position-relative rounded-circle">
                        <img src="" alt="logo">
                    </div>
                    <span class="d-block fw-medium">
                        deconnecté
                    </span>
                </div>
                <a routerLink="/authentication" mat-button class="btn">
                   se connecter
                </a>
            </div>
        </div>
    </div>
</div>