<mat-card class="daxa-card order-summary-card mb-25 border-radius bg-white border-none d-block">
    <mat-card-header>
        <mat-card-title>
            <h5 class="mt-0 mb-0">
               commande
            </h5>
        </mat-card-title>
        <mat-card-subtitle>
            <button type="button" mat-button class="card-header-menu-btn" [matMenuTriggerFor]="cardHeaderMenu">
                cette semaine
            </button>
            <mat-menu #cardHeaderMenu="matMenu" class="card-header-menu" xPosition="before">
                <button mat-menu-item>
                    cette journeé
                </button>
                <button mat-menu-item>
                    cette semaine
                </button>
                <button mat-menu-item>
                    cette moins
                </button>
                <button mat-menu-item>
                    cette anneé
                </button>
            </mat-menu>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="info d-flex align-items-center justify-content-between">
            <span class="d-block">
                Completed 60%
            </span>
            <span class="d-block">
                New Order 30%
            </span>
            <span class="d-block">
                Pending 10%
            </span>
        </div>
        <apx-chart
            [series]="chartOptions.series!"
            [chart]="chartOptions.chart!"
            [legend]="chartOptions.legend!"
            [colors]="chartOptions.colors!"
            [tooltip]="chartOptions.tooltip!"
            [labels]="chartOptions.labels!"
            [dataLabels]="chartOptions.dataLabels!"
            [responsive]="chartOptions.responsive!"
        ></apx-chart>
    </mat-card-content>
</mat-card>