<!-- Breadcrumb -->
<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
    <h5 class="mb-0">
        Create Product
    </h5>
    <ol class="breadcrumb list-unstyled mt-0 mb-0 pl-0">
        <li class="breadcrumb-item position-relative">
            <a routerLink="/" class="d-inline-block position-relative">
                <i class="ri-home-8-line"></i>
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item position-relative">
            E-Commerce
        </li>
        <li class="breadcrumb-item position-relative">
            Create Product
        </li>
    </ol>
</div>

<!-- Create Product -->
<mat-card
    class="daxa-card create-product-card mb-25 border-radius bg-white border-none d-block"
    [class.rtl-enabled]="themeService.isRTLEnabled()"
>
    <mat-card-content>
        <form>
            <div class="row">
                <div class="col-lg-8">
                    <h5 class="title mt-0">
                        ajouter smartphone
                    </h5>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="mb-25">
                                <label class="main-label d-block lh-1 text-black">
                                    designation
                                </label>
                                <mat-form-field>
                                    <mat-label>
                                        designation
                                    </mat-label>
                                    <input matInput placeholder="nom smartphone">
                                </mat-form-field>
                            </div>
                        </div>
                      
                        <div class="col-sm-6">
                            <div class="mb-25">
                                <label class="main-label d-block lh-1 text-black">
                                   code
                                </label>
                                <mat-form-field>
                                    <mat-label>
                                        entrer code
                                    </mat-label>
                                    <input matInput placeholder="#code">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-25">
                                <label class="main-label d-block lh-1 text-black">
                                   catecory
                                </label>
                                <mat-form-field>
                                    <mat-label>
                                        Select
                                    </mat-label>
                                    <mat-select>
                                        <mat-option value="option1">
                                            samsung
                                        </mat-option>
                                        <mat-option value="option2">
                                            oppo
                                        </mat-option>
                                        
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="mb-25">
                                <label class="main-label d-block lh-1 text-black">
                                     Description
                                </label>
                                <div class="NgxEditor__Wrapper">
                                    <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"></ngx-editor-menu>
                                    <ngx-editor [editor]="editor" [placeholder]="'Type here...'"></ngx-editor>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-25">
                                <label class="main-label d-block lh-1 text-black">
                                    prixUnitaireHt
                                </label>
                                <mat-form-field>
                                    <mat-label>
                                        prixUnitaireHt
                                    </mat-label>
                                    <input matInput placeholder="prixUnitaireHt">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-25">
                                <label class="main-label d-block lh-1 text-black">
                                    prixunitaireTTc
                                </label>
                                <mat-form-field>
                                    <mat-label>
                                        prixunitaireTTc
                                    </mat-label>
                                    <input matInput placeholder="prixunitaireTTc">
                                </mat-form-field>
                            </div>
                        </div>
                        
                        <div class="col-sm-6">
                            <div class="mb-25">
                                <label class="main-label d-block lh-1 text-black">
                                   tauxTva
                                </label>
                                <mat-form-field>
                                    <mat-label>
                                        tauxTva
                                    </mat-label>
                                    <input matInput placeholder=" tauxTva">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-25">
                                <label class="main-label d-block lh-1 text-black">
                                    entreprise
                                </label>
                                <mat-form-field>
                                    <mat-label>
                                        entreprise
                                    </mat-label>
                                    <input matInput placeholder="entreprise">
                                </mat-form-field>
                            </div>
                        </div>
                      
                        
                       
                        <div class="col-sm-12">
                            <div class="mb-25">
                                <label class="main-label d-block lh-1 text-black">
                                    ajouter l'image
                                </label>
                                <file-upload class="file-uploader"></file-upload>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
            <div class="btn-box">
                <button mat-button>
                    ajouter produit
                </button>
                <button mat-button>
                   retour
                </button>
            </div>
        </form>
    </mat-card-content>
</mat-card>