<!-- Breadcrumb -->
<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
    <h5 class="mb-0">
        Products Grid
    </h5>
    <ol class="breadcrumb list-unstyled mt-0 mb-0 pl-0">
        <li class="breadcrumb-item position-relative">
            <a routerLink="/" class="d-inline-block position-relative">
                <i class="ri-home-8-line"></i>
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item position-relative">
            E-Commerce
        </li>
        <li class="breadcrumb-item position-relative">
            Products Grid
        </li>
    </ol>
</div>

<!-- Products Grid -->
<div
    class="row"
    [class.component-dark-theme]="themeService.isDark()"
    [class.rtl-enabled]="themeService.isRTLEnabled()"
>
    <div class="col-md-4 col-lg-3">

        <!-- Filter Sidebar Card -->
        <mat-card class="daxa-card filter-sidebar-card mb-25 border-radius bg-white border-none d-block">
            <mat-card-header>
                <mat-card-title>
                    <h5 class="mt-0 mb-0">
                        choisir Category
                    </h5>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="filter-item">
                    <span class="d-block fw-medium">
                        Search
                    </span>
                    <form class="search-box position-relative">
                        <i class="material-symbols-outlined">
                            search
                        </i>
                        <input type="text" class="input-search d-block w-100 border-none outline-0" placeholder="Search product...">
                    </form>
                </div>
                <div class="filter-item">
                    <span class="d-block fw-medium">
                        categories
                    </span>
                    <ul class="filters-list pl-0 mb-0 list-unstyled">
                        <li>
                            <mat-checkbox>
                                Samsung
                            </mat-checkbox>
                        </li>
                        <li>
                            <mat-checkbox>
                                Oppo
                            </mat-checkbox>
                        </li>
                      
                    </ul>
                </div>
             
                
              
                
              
            </mat-card-content>
        </mat-card>

    </div>
    <div class="col-md-8 col-lg-9">

        <!-- Products -->
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <mat-card class="daxa-card product-card text-center mb-25 border-radius p-0 bg-white border-none d-block">
                    <mat-card-content>
                        <div class="image position-relative border-radius">
                            <a routerLink="/ecommerce-page/product-details" class="d-block border-radius">
                                <img src="https://www.samsungtunisie.tn/10484-large_default/samsung-galaxy-a15-prix-tunisie.jpg" class="border-radius transition" alt="product-image">
                            </a>
                            <button mat-fab>
                                <i class="ri-heart-line"></i>
                            </button>
                        </div>
                        <div class="content">
                            <h5>
                                <a routerLink="/ecommerce-page/product-details">
                                    Samsung Galaxy A15
                                </a>
                            </h5>
                            <div class="price d-flex align-items-center justify-content-center lh-1">
                                <span class="text-black fw-medium d-block">
                                      
                                       699,000 DT
                                </span>
                                
                            </div>
                            <div class="ratings lh-1 d-flex align-items-center justify-content-center text-body">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <span class="d-inline-block position-relative">
                                    (5)
                                </span>
                            </div>
                            <button mat-button>
                                plus de detaills
                            </button>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-sm-6 col-lg-4">
                <mat-card class="daxa-card product-card text-center mb-25 border-radius p-0 bg-white border-none d-block">
                    <mat-card-content>
                        <div class="image position-relative border-radius">
                            <a routerLink="/ecommerce-page/product-details" class="d-block border-radius">
                                <img src="https://www.samsungtunisie.tn/10520-large_default/samsung-galaxy-a05s-tunisie-prix.jpg" class="border-radius transition" alt="product-image">
                            </a>
                            <button mat-fab>
                                <i class="ri-heart-line"></i>
                            </button>
                        </div>
                        <div class="content">
                            <h5>
                                <a routerLink="/ecommerce-page/product-details">
                                    Samsung Galaxy A05s 6/128G
                                </a>
                            </h5>
                            <div class="price d-flex align-items-center justify-content-center lh-1">
                                <span class="text-black fw-medium d-block">
                                    649,000 DT
                                </span>
                               
                            </div>
                            <div class="ratings lh-1 d-flex align-items-center justify-content-center text-body">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-half-line"></i>
                                <span class="d-inline-block position-relative">
                                    (4.5)
                                </span>
                            </div>
                            <button mat-button>
                                plus de detaills
                            </button>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-sm-6 col-lg-4">
                <mat-card class="daxa-card product-card text-center mb-25 border-radius p-0 bg-white border-none d-block">
                    <mat-card-content>
                        <div class="image position-relative border-radius">
                            <a routerLink="/ecommerce-page/product-details" class="d-block border-radius">
                                <img src="https://www.samsungtunisie.tn/10443-large_default/samsung-galaxy-s24-prix-tunisie.jpg
                                " class="border-radius transition" alt="product-image">
                            </a>
                            <button mat-fab>
                                <i class="ri-heart-line"></i>
                            </button>
                        </div>
                        <div class="content">
                            <h5>
                                <a routerLink="/ecommerce-page/product-details">
                                    Samsung Galaxy S24
                                </a>
                            </h5>
                            <div class="price d-flex align-items-center justify-content-center lh-1">
                                <span class="text-black fw-medium d-block">
                                    3 999,000 DT
                                </span>
                               
                            </div>
                            <div class="ratings lh-1 d-flex align-items-center justify-content-center text-body">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-line"></i>
                                <span class="d-inline-block position-relative">
                                    (4)
                                </span>
                            </div>
                            <button mat-button>
                        
                              plus de detaills
                            </button>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-sm-6 col-lg-4">
                <mat-card class="daxa-card product-card text-center mb-25 border-radius p-0 bg-white border-none d-block">
                    <mat-card-content>
                        <div class="image position-relative border-radius">
                            <a routerLink="/ecommerce-page/product-details" class="d-block border-radius">
                                <img src="https://samsungstoretunisie.tn/wp-content/uploads/2023/10/galaxy-s23-fe-prix-tunisie.jpg" class="border-radius transition" alt="product-image">
                            </a>
                            <button mat-fab>
                                <i class="ri-heart-line"></i>
                            </button>
                        </div>
                        <div class="content">
                            <h5>
                                <a routerLink="/ecommerce-page/product-details">
                                    Samsung Galaxy S23 FE
                                </a>
                            </h5>
                            <div class="price d-flex align-items-center justify-content-center lh-1">
                                <span class="text-black fw-medium d-block">
                                    2 999,000 DT
                                </span>
                               
                            </div>
                            <div class="ratings lh-1 d-flex align-items-center justify-content-center text-body">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-half-line"></i>
                                <i class="ri-star-line"></i>
                                <span class="d-inline-block position-relative">
                                    (3.5)
                                </span>
                            </div>
                            <button mat-button>
                               
                                plus de detaills
                            </button>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-sm-6 col-lg-4">
                <mat-card class="daxa-card product-card text-center mb-25 border-radius p-0 bg-white border-none d-block">
                    <mat-card-content>
                        <div class="image position-relative border-radius">
                            <a routerLink="/ecommerce-page/product-details" class="d-block border-radius">
                                <img src="	https://www.samsungtunisie.tn/10667-large_default/samsung-galaxy-a15-8-256-go-tunisie.jpg" class="border-radius transition" alt="product-image">
                            </a>
                            <button mat-fab>
                                <i class="ri-heart-line"></i>
                            </button>
                        </div>
                        <div class="content">
                            <h5>
                                <a routerLink="/ecommerce-page/product-details">
                                    Samsung Galaxy A15 8/256Go
                                </a>
                            </h5>
                            <div class="price d-flex align-items-center justify-content-center lh-1">
                                <span class="text-black fw-medium d-block">
                                    949,000 DT
                                </span>

                            </div>
                            <div class="ratings lh-1 d-flex align-items-center justify-content-center text-body">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-line"></i>
                                <i class="ri-star-line"></i>
                                <span class="d-inline-block position-relative">
                                    (3)
                                </span>
                            </div>
                            <button mat-button>
                              
                                plus de detaills
                            </button>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
           
            <div class="col-sm-6 col-lg-4">
                <mat-card class="daxa-card product-card text-center mb-25 border-radius p-0 bg-white border-none d-block">
                    <mat-card-content>
                        <div class="image position-relative border-radius">
                            <a routerLink="/ecommerce-page/product-details" class="d-block border-radius">
                                <img src="https://www.samsungtunisie.tn/10471-large_default/samsung-galaxy-s24-plus-prix-tunisie.jpg" class="border-radius transition" alt="product-image">
                            </a>
                            <button mat-fab>
                                <i class="ri-heart-line"></i>
                            </button>
                        </div>
                        <div class="content">
                            <h5>
                                <a routerLink="/ecommerce-page/product-details">
                                    Samsung Galaxy S24 Plus
                                </a>
                            </h5>
                            <div class="price d-flex align-items-center justify-content-center lh-1">
                                <span class="text-black fw-medium d-block">
                                    4 599,000 DT
                                </span>
                                
                            </div>
                            <div class="ratings lh-1 d-flex align-items-center justify-content-center text-body">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-line"></i>
                                <span class="d-inline-block position-relative">
                                    (4)
                                </span>
                            </div>
                            <button mat-button>
                               
                                plus de detaills
                            </button>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-sm-6 col-lg-4">
                <mat-card class="daxa-card product-card text-center mb-25 border-radius p-0 bg-white border-none d-block">
                    <mat-card-content>
                        <div class="image position-relative border-radius">
                            <a routerLink="/ecommerce-page/product-details" class="d-block border-radius">
                                <img src="	https://www.samsungtunisie.tn/10526-large_default/samsung-galaxy-a05-4-128-prix-en-tunisie.jpg" class="border-radius transition" alt="product-image">
                            </a>
                            <button mat-fab>
                                <i class="ri-heart-line"></i>
                            </button>
                        </div>
                        <div class="content">
                            <h5>
                                <a routerLink="/ecommerce-page/product-details">
                                    Samsung Galaxy A05 4/128Go
                                </a>
                            </h5>
                            <div class="price d-flex align-items-center justify-content-center lh-1">
                                <span class="text-black fw-medium d-block">
                                    479,000 DT
                                </span>
                               
                            </div>
                            <div class="ratings lh-1 d-flex align-items-center justify-content-center text-body">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-half-line"></i>
                                <i class="ri-star-line"></i>
                                <span class="d-inline-block position-relative">
                                    (4.5)
                                </span>
                            </div>
                            <button mat-button>
                               
                                plus de detaills
                            </button>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-sm-6 col-lg-4">
                <mat-card class="daxa-card product-card text-center mb-25 border-radius p-0 bg-white border-none d-block">
                    <mat-card-content>
                        <div class="image position-relative border-radius">
                            <a routerLink="/ecommerce-page/product-details" class="d-block border-radius">
                                <img src="https://www.samsungshop.tn/26642-large_default/galaxy-a05-6128-go-PRIX-TUNISIE.jpg" class="border-radius transition" alt="product-image">
                            </a>
                            <button mat-fab>
                                <i class="ri-heart-line"></i>
                            </button>
                        </div>
                        <div class="content">
                            <h5>
                                <a routerLink="/ecommerce-page/product-details">
                                    Samsung Galaxy A05 6/128Go
                                </a>
                            </h5>
                            <div class="price d-flex align-items-center justify-content-center lh-1">
                                <span class="text-black fw-medium d-block">
                                    549,000 DT
                                </span>
                               
                            </div>
                            <div class="ratings lh-1 d-flex align-items-center justify-content-center text-body">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <span class="d-inline-block position-relative">
                                    (5)
                                </span>
                            </div>
                            <button mat-button>
                              
                                plus detaills
                            </button>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>

        <!-- Pagination -->
        <div class="pagination-card mb-25 d-lg-flex align-items-center justify-content-between">
            <p class="mb-0">
                Showing 1 to 9 of 50 entries
            </p>
            <ol class="pagination list-unstyled mt-0 mb-0 pl-0">
                <li class="pagination-item d-inline-block">
                    <a mat-button routerLink="/ecommerce-page">
                        <i class="material-symbols-outlined">
                            west
                        </i>
                    </a>
                </li>
                <li class="pagination-item d-inline-block">
                    <a mat-button routerLink="/ecommerce-page" class="active">
                        1
                    </a>
                </li>
                <li class="pagination-item d-inline-block">
                    <a mat-button routerLink="/ecommerce-page">
                        2
                    </a>
                </li>
                <li class="pagination-item d-inline-block">
                    <a mat-button routerLink="/ecommerce-page">
                        3
                    </a>
                </li>
                <li class="pagination-item d-inline-block">
                    <a mat-button routerLink="/ecommerce-page">
                        <i class="material-symbols-outlined">
                            east
                        </i>
                    </a>
                </li>
            </ol>
        </div>

    </div>
</div>